*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif


html 
	height: 100%

body
	min-width: 960px
	max-width: 1200px
	width: auto
	background: $white
	color: $black
	margin: 0 auto
	padding: 0
	cursor: default
	+size(15)
	line-height: 1.4
	text-rendering: optimizeLegibility
	+size(14)

a 
	color: $blue
	text-decoration: none
	&:hover
		text-decoration: underline
		color: lighten($blue, 25%)
	&:visited,
	&:active,
	&:link
		color: darken($blue, 20%)

address, block, code
	display: block
	padding: 16px
	margin: 16px 0
	+size(14)

block, code
	background-color: lighten($gray, 25%)
	font-family: 'Source Code Pro', monospace
	font-weight: 500
	+size(14)

dd, fieldset, p
	+size(15)
	font-weight: 300

p
	padding: 0
	margin: 16px 0


h1,h2,h3,h4,h5,h6 
	margin: 0 0 16px
	padding: 0
	color: darken($gray, 10%)

h1,h2
	font-weight: 300
h3,h4
	font-weight: 400
h5,h6
	font-weight: 600
h1
	+size(36)
h2
	+size(32)
h3
	+size(28)
h4
	+size(24)
h5
	+size(18)
h6
	+size(15)


ul 
	list-style: none
	margin: 0
	padding: 0

ul
	li
		margin: 0
		padding: 0
		text-indent: 0


@media only screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1280px) and (-o-min-device-pixel-ratio: 1.5), only screen and (max-width: 1280px) and (min-device-pixel-ratio: 1.25), only screen and (max-width: 480px)
	body
		width: 100%
		+size(16)
